.banners {
    max-width: 1280px;
    height: 406px;
   position: relative;
    margin-top: 190px !important;
    margin: 0 auto;
    text-align: center;

    display: inline-block;
}

.banners-img img {
    
    border-radius: 13px;
}

.banners-img {
    display: inline-flex;
    height: 203px;
    padding-right: 15px;
    padding-bottom: 198px;
    
}


span.headings {
   
    display: block;
    text-align: left;
    padding-bottom: 48px;
    font-size: 42px;
    font-weight: 600;
}


.Down_banners {
    position: absolute;
    height: 201px;
    margin-top: 190px;
    width: 305px;
    background: rgb(204, 45, 74);
    border-bottom-right-radius: 15px ;
    border-bottom-left-radius:15px ;
    text-align: left;
    
}

.Down_banners2{
    background: #BC1A6E;
    position: absolute;
    height: 201px;
    margin-top: 190px;
    width: 305px;
    border-bottom-right-radius: 15px ;
    border-bottom-left-radius:15px ;
    text-align: left;
}

.Down_banners3{
    background: rgb(222, 49, 81);
    position: absolute;
    height: 201px;
    margin-top: 190px;
    width: 305px;
    border-bottom-right-radius: 15px ;
    border-bottom-left-radius:15px ;
    text-align: left;
}
.Down_banners4{
    background: rgb(217, 59, 48);;
    position: absolute;
    height: 201px;
    margin-top: 190px;
    width: 305px;
    border-bottom-right-radius: 15px ;
    border-bottom-left-radius:15px ;
    text-align: left;
}
.banners_title  {
    font-size: 27px;
    font-weight: 800px;
    color: white;
    position: absolute;
    margin:20px 16px 16px;
    
    
}