.questions_section {
    max-width: calc(min(1760px, 100%) - 160px);
    margin: auto;
}

.question-image img {
    width: 100%;
    border-radius:8px ;
}

.question-text {
    position: absolute;
    padding: 80px;
    width: 100%;
    display: grid;
    flex-direction: column;
    margin: 0 auto;
    font-size: 74px;
    font-weight: 800px;
    
    color: white;
}

.question-button {
    display: flex ;
    flex-direction: column ;
    align-items: flex-start ;
    justify-content: flex-end ;
}

.question-box{
    display: flex ;
    flex-direction: column ;
    align-items: flex-start ;
}

.question-button a {
    font-size: 16px;
    border-radius: 8px;
    padding: 14px 24px;
    background: white;
    color: black;
    text-align: center;
    font-weight: 400;
}